# Ignore - local
/.editorconfig
/.editorconfig
/.lando.yml
/trucleen.dreamhosters.com/sites/default/settings.php
/trucleen.dreamhosters.com/themes/custom/yc_trucleen/node_modules
/trucleen.dreamhosters.com/themes/custom/yc_trucleen/node_modules/*
/.db

# all env
/vendor

# Ignore - dreamhost
/.bash_history
/.bash_profile
/.bashrc
/.cache
/.config
/.cshrc
/.editorconfig
/.gitattributes
/.gitconfig
/.local
/.ssh
/.subversion
/Backup
/Maildir
/composer.phar
/composer.zip
/logs
/php.ini

