{#
/**
 * @file
 * Two column template for the order edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('commerce/form-layout') }}
<div class="layout-order-form clearfix">
  <div class="layout-region layout-region--commerce-main">
    <div class="layout-region__content">
      {{ form|without('advanced', 'actions') }}
    </div>
  </div>
  <div class="layout-region layout-region--commerce-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region--commerce-footer">
    {{ form.actions }}
  </div>
</div>
