@import "../import";

#navbar-top {
    .container {
        @include max(lg) {
            justify-content: center;
        }
        @include max(md) {
            display: block;
        }
        .region-secondary-menu {
            #block-yc-trucleen-account-menu {
                .nav {
                    @include max(lg) {
                        justify-content: center;
                    }
                    @include max(md) {
                        display: block;
                        text-align: center;
                        padding: 5px 0;
                    }
                    .nav-link {
                        color: $gray-700!important;
                        @include max(md) {
                            padding: 0 0 5px 0;
                        }
                    }
                }
            }
        }
        .navbar-form {
            margin: 0 auto        ;
            padding: 5px 0 10px;
        }
        #block-yc-trucleen-telnosocialmedia {
            @include max(md) {
                padding: 5px 0 10px;
            }
        }
    }
    
}

ul.socials {
    margin-bottom: 0;
    li {
        list-style: none;
        display: inline;
        padding: 0px 10px;
    }
    .tel-icon {
        padding: 0;
    }
    .tel-no {
        padding-left: 5px;
        margin-right: 15px;
    }
}

#navbar-main {
    .navbar-brand{
        img {
            width: 160px;
        }
    }
    #CollapsingNavbar {
        text-align: center;
        padding: 10px 0;
        @include max(lg) {
            text-transform: uppercase;
        }
        #block-yc-trucleen-main-menu {
            @include max(lg) {
                margin-bottom: 16px;
            }
        }
        nav {
            ul {
                li {
                    a {
                        padding: 20px;
                        font-size: 18px;
                        @include max (lg) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    #block-yc-trucleen-scheduleforapickup {
        .nav-btn {
            button {
                color: white;
                padding: 15px 25px;
                border-radius: 0;
                font-weight: 600;
                width: 100%;
                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

#block-yc-trucleen-cart {
    .cart--cart-block {
        a {
            span {
                color: white;
            }
        }
    }
}

// fontpage node style

#block-yc-trucleen-homepagebannernewweddingphotosslideshow {
    h1,
    li {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: #fff;
        font-size: 18px;
        text-shadow: -2px 2px 3px #090909;
    }
    h1.fade-in-text {
        font-size: 58px;
        color: #ffd700;
        text-shadow: -3px 3px 3px #090909;
        span {
            color: #FFD700;
            text-shadow: -3px 3px 3px #090909;
        }

    }
    .image-container {
        position: relative;
        img {
            object-fit: cover;
        }
    }
    h2 {
        font-family: "Dancing Script", cursive;
        font-size: 24px;
        margin: 30px 0 10px 0;
        color: #fff;
    }
    .text-overlay {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        width: 80%;
        z-index: 10;
    }
}

@include min(md) {
    #block-yc-trucleen-homepagebannernewweddingphotosslideshow {
        .columns {
            display: grid;
            background-color: rgb(0 0 0 / 39%);
            grid-template-columns: 33.33% 33.33% 33.33%;
            justify-items: center;
            padding: 20px;
            width: fit-content;
            margin: auto;
            text-align: start;
            border-radius: 10px;
            .column {
                ul {
                    margin-bottom: 0;
                }
            }
        } 
    } 
}

@include min(lg) {
    #block-yc-trucleen-homepagebannernewweddingphotosslideshow {
        .image-container {
            img {
                object-position: 0% 25%;
                height: 90vh;
            }
        }
    } 
}

@include max(lg) {
    #block-yc-trucleen-homepagebannernewweddingphotosslideshow {
        .image-container {
            img {
                object-position: 30% 35%;
                height: 90vh;
            }
            .text-overlay {
                top: 60%;
                .column {
                    li {
                        font-size: 18px;
                    }
                }
                h1.fade-in-text {
                   font-size: 48px;
                 }
            }
        }
        #block-yc-trucleen-collectionanddelivery {
            h2 {
                margin-left: 0;
            }
        }
        .columns {
            text-align: left;
            background-color: rgb(0 89 79 / 20%);
            width: fit-content;
            margin: auto;
            padding: 15px;
            border-radius: 10px;
            background-color: rgb(0 89 79 / 20%);
        }
    } 
}

@include min(xs) {
    @include max(ph) {
        #block-yc-trucleen-homepagebannernewweddingphotosslideshow {
            .image-container {
                height: 100%;
                img {
                    object-fit: cover;
                    object-position: 35% 0%;
                }
                .text-overlay {
                    top: 50%;
                    .column {
                        li {
                            font-size: 14px;
                        }
                    }
                    h1.fade-in-text {
                        font-size: 26px;
                        margin-left: 0;
                    }
                }
            }
        }
        #block-yc-trucleen-collectionanddelivery {
            h2 {
                margin-left: 0;
            }
        }
    }
}
